apiVersion: v1
kind: Secret
metadata:
  name: checklistdbsecret
  namespace: {{.Values.namespace}}
  labels:
    app.kubernetes.io/name: openrmf
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/component: checklist-mongodb-secret
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/revision: "{{ .Release.Revision }}"
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: helm
type: Opaque
data:
  initUsername: {{.Values.checklistInitDBUser}}
  initPassword: {{.Values.checklistInitDBPassword}}
  initDBName: {{.Values.checklistInitDBName}}
  appConnection: {{.Values.checklistAppConnection}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: checklistdb-initconfig
  namespace: {{.Values.namespace | default "openrmf"}}
  labels:
    app.kubernetes.io/name: openrmf
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/component: checklistdb-init-config
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/revision: "{{ .Release.Revision }}"
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: helm
data:
  mongo-init.js: |
    db.createUser({ user: "{{.Values.checklistAppUser}}" , pwd: "{{.Values.checklistAppPassword}}!", roles: [{ "role": "readWrite", "db": "{{.Values.checklistInitDBName}}"}]});
    db.createCollection("Artifacts");
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openrmf-checklistdb
  namespace: {{.Values.namespace}}
  labels:
    app.kubernetes.io/name: openrmf
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/component: checklist-mongodb
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/revision: "{{ .Release.Revision }}"
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: helm
spec:
  selector:
    matchLabels:
      run: openrmf-checklistdb
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        run: openrmf-checklistdb
    spec:
      containers:
      - name: openrmf-checklistdb
        image: mongo:{{.Values.mongoImage}}
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:  
            secretKeyRef:
              name: checklistdbsecret
              key: initUsername
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:  
            secretKeyRef:
              name: checklistdbsecret
              key: initPassword
        - name: MONGO_INITDB_DATABASE
          valueFrom:  
            secretKeyRef:
              name: checklistdbsecret
              key: initDBName
        resources:
          requests:
            memory: "500M"
            cpu: "200m"
        volumeMounts:
        - mountPath: /data/db
          name: mongodata-checklistdb
      restartPolicy: Always
      volumes:
      - name: mongodata-checklistdb
        persistentVolumeClaim:
          claimName: openrmf-checklistdb-claim
      - name: initconfig-volume
        configMap:
          name: checklistdb-initconfig
---
apiVersion: v1
kind: Service
metadata:
  name: openrmf-checklistdb
  namespace: {{.Values.namespace}}
  labels:
    app.kubernetes.io/name: openrmf
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/component: checklist-mongodb
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/revision: "{{ .Release.Revision }}"
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: helm
spec:
  ports:
  - name: mongodb-checklistdb
    port: 27017
    protocol: TCP
    targetPort: 27017
  selector:
    run: openrmf-checklistdb
  sessionAffinity: None
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: {{.Values.namespace}}
  name: openrmf-checklistdb-claim
  labels:
    app.kubernetes.io/name: openrmf
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/component: checklist-mongodb
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/revision: "{{ .Release.Revision }}"
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: helm
spec:
  storageClassName: {{.Values.storageClass}}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi